<div class="main">

    <p [style.background-color]="currentColor">
        {{title}}
    </p>

</div>

<div class="main">
    <button class="backgroungButton" mat-raised-button color="primary" (click)="changeBackground()">
        Change background color
    </button>


    <mat-form-field>
        <input matInput placeholder="Change background color"  [(ngModel)]="inputColor">
  </mat-form-field>

</div>

<div class="main">
    <mat-form-field>
        <input matInput placeholder="Change title"  [(ngModel)]="title">
  </mat-form-field>
</div>