<div class="add-note-form">
  <h1>{{ pageTitle }}</h1>

  <form [formGroup]="noteFormGroup" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Note Title</mat-label>
      <input
        matInput
        name="inputNote"
        formControlName="noteTitle"
        placeholder="Add a Title"
      />
      <mat-hint *ngIf="title!.invalid"
        >Min 4 characters long{{ noteFormGroup.value.noteTitle }}</mat-hint
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Note Description</mat-label>
      <textarea
        matInput
        name="inputNote"
        formControlName="noteDescription"
        placeholder="Add Note"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select
        name="inputNote"
        formControlName="noteCategory"
        placeholder="Add Category"
      >
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <button
    mat-button
    type="submit"
    (click)="addNote()"
    [disabled]="!noteFormGroup.valid"
    color="primary"
  >
    {{ buttonText }}
  </button>
</div>
