<!--
<button (click)="setTitle()">Set title</button>
<p [style.color]="titleColor">{{title}}</p>
<button mat-icon-button (click)="addContentToNote()"><mat-icon>add</mat-icon></button>
<mat-form-field>
    <input matInput placeholder="Add Note"   [(ngModel)]= "noteContent">
</mat-form-field>

<p>Note content is:  {{addedContent}}</p>
-->
<mat-toolbar color="primary" class="tools-container">
  <span>Notes</span>
  <span class="spacer"></span>
  <mat-form-field>
    <input matInput placeholder="Search" [(ngModel)]="searchContent" />
  </mat-form-field>
  <button mat-icon-button (click)="selectSearch(searchContent)">
    <mat-icon>search</mat-icon>
  </button>
  <span class="spacer"></span>
  <p>Add note</p>
  <button mat-icon-button routerLink="add-note">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
