<app-tools (emitSearch)="receiveSearchContent($event)"></app-tools>
<app-filter (emitSelectedFilter)="receiveCategory($event)"></app-filter>
<app-note
  [selectedCategoryId]="category"
  [currentSearch]="searchContent"
></app-note>
