<div class="margin-top-10">
  <mat-card *ngFor="let note of notes">
    <mat-card-header>
      <mat-card-title>
        {{ note.title }}
      </mat-card-title>

      <mat-card-subtitle>
        {{ note.categoryId | categoryName: note.categoryId }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>{{ note.description }}</p>
    </mat-card-content>

    <mat-card-footer align="end">
      <button mat-icon-button routerLink="edit-note/{{ note.id }}">
        <mat-icon matSuffix>edit</mat-icon>
      </button>

      <button mat-icon-button (click)="getId(note.id)">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>
</div>
