*{
font-family:cursive;
background-color:Cornsilk;
}


.main{
color:CornflowerBlue;
margin-left:10%;
padding-top:1%;
}

label{
color:black;
display:block;
margin-left:10%;
padding-top:1%;
}

input{
margin-left:10%;
display:block;
}

select{
margin-left:10%;
}

textarea{
margin-left:10%;
}

button {
background-color:CornflowerBlue;
border-radius:5px;
border:1px solid black;
display:inline-block;	
cursor:pointer;
color:black;
font-size:17px;
margin-left:10%;
}

button:hover{
background-color:cyan;
}

button:active {
position:relative;
top:1px;
}