.main-container{
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
}

.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}