<div class="main-container">

  <mat-form-field appearance="legacy">
    <input matInput placeholder="Some text" [(ngModel)]="inputText">
    <mat-icon matSuffix>input</mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addToList()">Add to list</button>

  <mat-form-field appearance="legacy">
    <input matInput placeholder="Color for text" [(ngModel)]="color">
    <mat-icon matSuffix>input</mat-icon>
    <mat-hint>Mouse Over</mat-hint>
  </mat-form-field>



</div>

<div class="list-container">
  <p>Only Shows Even index</p>
  <div *ngFor="let text of userInputs; let even=even;">
    <p [appTextColor]="color" [appHighlightColor]="color" *ngIf="even">{{text | titlecase | addHyphen}}</p>
  </div>
</div>